.cache/
build/

subprojects/*
!subprojects/*.wrap
!subprojects/inja

examples/tests/*
!examples/tests/*.cpp
!examples/tests/Makefile
!examples/tests/run.sh

examples/specs/*
!examples/specs/*.yml
!examples/specs/run.sh
